<section data-ng-controller="ShowsController" data-ng-init="findOne()">
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="media">
					<div class="pull-left">
						<img class="media-object img-rounded" data-ng-src="{{show.poster}}">
						<div class="text-center" data-ng-if="authentication.user">
							<div data-ng-show="!isSubscribed()">
								<button data-ng-click="subscribe()" class="btn btn-block btn-success">
									<span class="glyphicon glyphicon-plus"></span> Subscribe
								</button>
							</div>
							<div data-ng-show="isSubscribed()">
								<button data-ng-click="unsubscribe()"
									class="btn btn-block btn-danger">
									<span class="glyphicon glyphicon-minus"></span> Unsubscribe
								</button>
							</div>
						</div>
						<div class="text-center" data-ng-show="!authentication.user">
							<a class="btn btn-block btn-primary" data-ng-href="#!/signin">Login to
								Subscribe</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-play"></span> Saisons
			</div>
			<div class="panel-body">
				<div class="episode" data-ng-repeat="season in show.season">
					<button data-ng-click="getepisodes(show, season)"
						class="btn btn-block btn-success">
						Saison {{season.seasonNumber}}
					</button>
					<small> {{season.episodeCount}} épisodes, </small>
				</div>
			</div>
		</div>
	</div>
</section>
